.cart-container {
    position: relative;
    width: 375px;
    i{
        color: #fff;
        font-size: 34px;
        display: block;
        margin: 0 15px;
        cursor: pointer;
        float: right;
    }

    &>table{
        float: left;
        th {
            height: 35px;
            line-height: 35px;
            color: #fff;
            padding: 0 5px;
        }
    }

    .cart {
        background: #fff;
        border: 1px solid #ccc;
        right: 0;
        max-height: 300px;
        overflow: auto;
        position: absolute;
        z-index: 100;
        top: 40px;
        min-width: 400px;
        i {
            color: red;
            font-size: 20px;
        }
    }
}