.alert-cart {
    background: #fff;
    box-shadow: 0 0 8px 2px #000;
    min-height: 210px;
    left: 35%;
    position: absolute;
    text-align: center;
    width: 400px;
    z-index: 100;
    padding: 15px 0 0 0;
    .alert{
        border-radius: 0;
    }
}

@media(max-width:900px){
    .alert-cart {
        left: 25%;
    }
}

@media(max-width:760px){
    .alert-cart {
        left: 20%;
    }
}